<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WebSocket</title>
    <!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->

    <style>
        /*.row {margin:10px;  }*/

        html, body {
            font: normal 0.9em arial, helvetica;
        }

        #log1 {
            width: auto;
            height: 400px;
            /*border: 1px solid #7F9DB9;*/
            /*overflow: auto;*/
        }

        #app1 {
            width: 400px;
        }
    </style>

    <script>
       window.onbeforeunload = function () {
        try {
            socket.send('quit');
            socket.close();
            socket = null;
            }
        catch (ex) {
            log(ex);
            }
        };

        function init() {
            var form1 = document.getElementById("form1")
            var log1 = document.getElementById("log1")
            var p1 = document.getElementById("p1")
            var start1 = document.getElementById("start1")
            var close1 = document.getElementById("close1")
            var flush1 = document.getElementById("flush1")


            flush1.style.display = 'none'
            p1.innerHTML = ''

            var host = "ws://digger-update.cbpmgt.com/websocket/";
            try {
                socket = new WebSocket(host);
                socket.onopen = function (msg) {
                    start1.innerHTML='开始'
                    close1.innerHTML = '关闭'
                    ;
                };
                socket.onmessage = function (msg) {
                    log(msg.data);
                    if(msg.data=="SUCCESS!"){start1.innerHTML='开始'}
                };
                socket.onclose = function (msg) {
                    log("Lose Connection!");
                    offline_server();
                };
            }
            catch (ex) {
                log(ex);
            }
        }

        function begin(obj){
            if (socket==null){init() ; close1.style.display='inline';return};
            app_name = form1.app.value
            selecct_option = form1.option.value
            if (!app_name) {
                alert("Message can not be empty");
                return;
            }
            else{obj.innerHTML='Running';log1.innerHTML = '' ;
                flush1.style.display = 'inline'
                p1.innerHTML= selecct_option + ':' + app_name
                p1.style.color="blue"
                send()}
        }

        function mymessage() {
            alert("加载完成。");
        }

        function send() {
            msg = app_name + ' ' + selecct_option
            try {
                socket.send(msg);
            } catch (ex) {
                log(ex);
            }
        }

        function log(msg) {
            log1.innerHTML += "<br>" + msg;
        }

        function close_websocket() {
            close1.innerHTML = '正在关闭'
            socket.send('quit');
            socket.close();
            socket = null;
        }

        function clear_log(){
            flush1.innerHTML = "刷新成功"
            log1.innerHTML = ''
            setTimeout("flush1.innerHTML = '刷新'", 5000)
        }

        function offline_server(){
            start1.innerHTML = '连接服务器';
            p1.innerHTML = '连接已经断开！ 点击<连接服务器>重新建立连接'
            disply_switch(flush1)
            disply_switch(close1)
        }

        function disply_switch(st){
            st.style.display='none'
        }
    </script>

</head>


<body onload="init()">
<h3>WebSocket</h3>
<br><br>
    <form id='form1' name="input">
        <select id="select1" name="option">
            <option value="update">update</option>
            <option value="status" selected="selected">status</option> #默认
            <option value="start">start</option>
            <option value="stop">stop</option>
            <option value="restart">restart</option>
        </select>
        digger-node：
        <input id="app1" type="text" name="app">
        <button id="start1" type="button" onclick="begin(this)">开始</button>
        <button id="close1" type="button" onclick="close_websocket()">关闭</button>
        <button id="flush1" type="button" onclick="clear_log()">刷新</button>
        <p id="p1"></p>
    </form>

<fieldset id="log1"></fieldset>

<!--<button class="btn btn-info btn-md"><i class="fa fa-spinner fa-spin"></i> Loading</button>-->

</body>
</html>
